<body>
  <div class="overlay" id="drawerIndicatorOverlay"></div>
  <div class="sidenavigation">
    <div class="vertical_fill_space"></div>
    <div class="button_container" id="view_alerts">
      <a href="alertmap">
        <div class="button_titles">Dashboard
        </div>
      </a>
    </div>
    <div class="button_container" id="information">
      <a href="information">
        <div class="button_titles">Información
        </div>
      </a>
    </div>
  </div>
  <div class = "central_container">
    
    <div class = "reports_central_container">
      
      <br class="clear">
      <br class="clear">
      Toolcases distribution
      <table>
        <tr>
          <td style = padding-left:10px>
            <div class = "reports_small_card">
              <div class = "centre_inline center_new">
                <div class="medium_bold_font_center_inline">ST40</div>
                <div class="huge_font_center_inline" id="alert_total_count_st40"></div>
                <div class="subtipos_alertas" id="subtipos_alertas">
                  <button (click) = "display('Structural', 'st40')" id = "st40_struct"></button>
                  <button (click) = "display('Mechanical', 'st40')" id = "st40_mec"></button>
                  <button (click) = "display('Electrical', 'st40')" id = "st40_elec"></button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class = "reports_small_card">
              <div class = "centre_inline center_new">
                 <div class="medium_bold_font_center_inline">CAGE</div>
                <div class="huge_font_center_inline" id="alert_total_count_cage"></div>
                <div class="subtipos_alertas" id="subtipos_alertas">
                   <button class = "subestado_stat" (click) = "display('Structural', 'cage')" id = "cage_struct"></button>
                  <button class = "subestado_stat" (click) = "display('Mechanical', 'cage')" id = "cage_mec"></button>
                  <button class = "subestado_stat" (click) = "display('Electrical', 'cage')" id = "cage_elec"></button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class = "Tabla1" id = "Tabla">
      </div>
    </div>
  </div>
</body>