

@media screen and (max-height: 450px) {  
  .sidenavigation {padding-top: 15px;}
  .sidenavigation a {font-size: 18px;}
  .drawer {padding-top: 15px;}
  .drawer a {font-size: 18px;}
}

body {
	font-family: "Raleway_regular", sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  margin : 5px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: background-color .5s;
}


.central_container {
	margin-left: 100px;
	height: 100%;
	min-width: 800px;
	z-index: 2;
}


.reports_central_container {
	padding-left: 50px;
	padding-right: 50px;
	height: 100%;
	float: top;
	position: relative;
	z-index: 2;
	overflow: scroll;
	display: block;
}

.center_inline {
	position: relative;
	display: inline-block;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.huge_font_center_inline {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	font-family: "Raleway_regular", sans-serif;
	font-size: 100px;
	color: #000;
}

.medium_bold_font_center_inline {
	width: 100%;
	text-align: center;
	font-family: "Raleway_semibold", sans-serif;
	font-size: 20px;
	color: #000;
}

.subtipos_alertas{
	margin-top: 25px;
}
.subtipos_alertas .subtipo{
	width: 250px;
    
    margin-top: 7px;
}
.subtipos_alertas .subtipo .name{
	width:100px;
	float:left;
}

.subtipos_alertas .subtipo .grafico-contenedor{
	width: 110px;
	height: 18px;
	float:left;
	min-width: 100px;
}

.subtipos_alertas .subtipo .grafico-contenedor .grafico{
display:block;
}
.subtipos_alertas .subtipo .total{
	width:50px;
	text-align:right;
}

.reports_small_card {
	font-family: "Raleway_semibold", sans-serif;
	font-size: 15px;
	color: #000;
	display: inline-block;
	padding:25px;
	margin-right: 25px;
	margin-bottom: 30px;
	width: 245px;
	height: 270px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.reports_small_card{
	min-height: 350px;
	float: left;
}

.clear {
    clear:both;
    line-height:0;
}

.sidenavigation {
    height: 100%;
    position: relative;
    z-index: 2;
    float: left;
	background-image: linear-gradient(to top, #f96279, #f8a35a);
	overflow-y: auto;
	overflow-x: hidden;
}

.sidenavigation::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.sidenavigation::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.sidenavigation_blocker_overlay {
	width: 100px;
	height: 100%;
	position: absolute;
    z-index: 1;
    float: left;
	top: 0;
	left: 0;
	transition: background-color .5s;
}

.vertical_fill_space {
	height: 23px;
	width: 100%;
}

.vertical_fill_space_settings {
	height: 45px;
	width: 100%;
}

.button_container a {
	text-decoration: none;
	margin: 3em;
}

.button_container a:hover {
  
	margin: 3em;
	background-color: #ffffff44;
}

.button_titles {
	text-align: center;
	font-size: 20px;
	font-family: "Raleway_semibold", sans-serif;
	color: #ffffff;
	transform: translate(0%, 70%);
	display: inline;
  
  
}